<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Subscription</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin: 0px;
            padding: 0;
            position: relative;
        }
        a, h1 {
            color: #ffffff;
        }
        p {
            margin: 0;
        }

        #error-message {
            color: red;
            font-weight: bold;
        }


        .banner {
            background: linear-gradient(#000000b0, #000000b0),
            url("https://images.unsplash.com/photo-1513978246846-a03516f340e1?q=80&w=2146&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
            height: calc(100vh);
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        footer{
            position: absolute;
            bottom: 0;
            width: 100%;
        }
        @keyframes rotation {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
    </style>
</head>
<body>
<div class="banner">
    <div>
        <h1><strong>CAB ON WAY</strong></h1>
        <p id="error-message"></p>

    </div>

    <footer>
        <a href="/privacy-policy">Privacy Policy</a>
        <a href="/about-us">About Us</a>
        <a href="/refund-policy">Refund Policy</a>
        <a href="/terms-and-condition">Terms And Conditions</a>
    </footer>
</div>

</body>
</html>
